/*****************************************************

                       BOOTSTRAP 

*****************************************************/

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// 4. Include any optional Bootstrap components as you like
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';

// 5. Add additional custom code here

/*****************************************************

                      TYPOGRAPHY

*****************************************************/

//Merriweather

@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/Merriweather-Regular.ttf) format('truetype')
      font-weight-normal,
    url(../fonts/Merriweather-Italic.ttf) format('truetype') font-weight-italic,
    url(../fonts/Merriweather-Bold.ttf) format('truetype') font-weight-bold,
    url(../fonts/Merriweather-BoldItalic.ttf) format('truetype') font-italic
      font-weight-bold;
}

//Poppins

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf) format('truetype') font-weight-normal,
    url(../fonts/Poppins-Italic.ttf) format('truetype') font-weight-italic,
    url(../fonts/Poppins-Bold.ttf) format('truetype') font-weight-bold,
    url(../fonts/Poppins-BoldItalic.ttf) format('truetype') font-italic
      font-weight-bold;
}

//Lato
//Note: Was having issues with Lato, just just imported using URL instead)

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
